h3 {
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.map {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#map {
    border-radius: 5px;
}